:root {
  --uniquifier: page-font;
  --weight: 100;

  .inter-page-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--weight);
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
}




#visit-profile-text:hover {
  color: red;
  text-decoration: underline;
}





/* createStory.handlebars custom css */

.playgame-padding {
  padding-bottom: 50px
}

.playing-card {
  border: 2px solid #000; 
  border-radius: 20px; 
}

/* #indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* this needs to be changed to an id */
#courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

<<<<<<< Updated upstream
/* css for the newadventure prompt */

#prompt-container {
  margin: auto;
}

#prompt-title {
  font-weight: bold !important;
  font-style: italic;
  font-size: larger;
=======

.login-form label,
.login-form input,
.login-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.login-form button {
  padding: 10px;
>>>>>>> Stashed changes
}