:root {
  --uniquifier: page-font;
  --weight: 100;

  .inter-page-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--weight);
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
}


/* nav bar stuff */

#center-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


#visit-profile-text:hover {
  color: red;
  text-decoration: underline;
}





/* createStory.handlebars */
.playgame-padding {
  padding-bottom: 50px
}

.playing-card {
  border: 2px solid #000; 
  border-radius: 20px; 
}


/* adventureModeNew.handlebars */
.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.center-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

#prompt-container {
  margin: auto;
}

#prompt-title {
  font-weight: bold !important;
  font-style: italic;
  font-size: larger;
}

/* dark mode! */

/* .dark-mode {
  background-color: #333333;
  color: white;
}

.dark-mode .fa-solid.fa-user {
  color: white;
}
.dark-mode .logout-btn {
  color: white;
}

.dark-mode .nav-link {
  color: white;
}

.dark-mode .card-body {
  background-color: #333333;
}

.dark-mode .card {
  border-color: white;
  border-width: 3px;
}

.dark-mode .card-body p,
.dark-mode .card-body h5,
.dark-mode .card-body h6,
.dark-mode h6 #userName {
  color: white;
}

.dark-mode .card-link {
  color: white;
  text-decoration: underline;
} */


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.card-body a {
  text-decoration: none;
}

.card-body .card-link {
  text-decoration: underline;
}

.card {
  border-color: #000;
  border-width: 3px;
}

.card-body p,
.card-body h5 {
  color: black;
}

